@model ExamViewModel

@{
    ViewData["Title"] = "Soal";
}

@section Styles {
    <style>
        .area-main .container {
            background: rgba(255,255,255,1);
        }

        .area-soal-item {
            padding: 10px;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="area-judul-halaman">
            @Model.Judul
            @*@Model.SectionName*@
            @*@Model.Duration
                <span class="milisecond-interval">@Model.Duration</span>*@
            <span style="float:right" class="lengkapimodif-data" id="reqIdSelesai">
                @*<form id="finish" asp-route="Finish" method="post">
                        <input type="hidden" name="UjianTahapId" value="@Model.SoalDanJawaban.UjianTahapId" />
                        <input id="selesai" class="selesai" type="submit" value="Selesai »" />
                    </form>*@
                <a class="selesai" asp-route="Finish" asp-route-UjianTahapId="@Model.SoalDanJawaban.UjianTahapId">Selesai »</a>
            </span>
        </div>
    </div>
    <div class="col-md-9 area-soal-wrapper">
        <div class="area-soal reqInfoIsi">
            <div id="main-slider-wrapper" class="ls-wrapper arrows ls-responsive">
                <div id="main-slider" class="liquid-slider">
                    <div id="1" class="area-soal-item main-slider-panel ls-panel currentPanel" style="width: 738px;">
                        <div class="panel-wrapper">
                            <form id="Answer" asp-route="Answer" method="post">
                                <input name="Nomer" value="@Model.SoalDanJawaban.Nomer" type="hidden" />
                                <input name="UjianId" value="@Model.SoalDanJawaban.UjianId" type="hidden" />
                                <input name="UjianBankSoalId" value="@Model.SoalDanJawaban.UjianBankSoalId" type="hidden" />
                                <input name="PegawaiId" value="@Model.SoalDanJawaban.PegawaiId" type="hidden" />
                                <input name="Urut" value="@Model.SoalDanJawaban.Urut" type="hidden" />
                                <input name="BankSoalId" value="@Model.SoalDanJawaban.BankSoalId" type="hidden" />
                                @*<input name="BankSoalPilihanId" value="@Model.SoalDanJawaban.BankSoalPilihanId" type="hidden" />*@
                                <input name="UjianPegawaiId" value="@Model.SoalDanJawaban.UjianPegawaiId" type="hidden" />
                                <input name="UjianTahapId" value="@Model.SoalDanJawaban.UjianTahapId" type="hidden" />
                                <input name="IsNext" value="true" type="hidden" />

                                <span class="nomor">@Model.Nomer</span>
                                @if (Model.TipeSoal == 1 || Model.TipeSoal == 8 || Model.TipeSoal == 9 || Model.TipeSoal == 42)
                                {
                                    <span class="pertanyaan">
                                        @Html.Raw(Model.SoalDanJawaban.Pertanyaan)
                                    </span>
                                }
                                else if (Model.TipeSoal == 2)
                                {
                                    <span class="gambar-soal-kiri">
                                        <img src="@Model.PathGambar@Model.PathSoal">
                                    </span>
                                }
                                else if (Model.TipeSoal == 5)
                                {
                                    <span class="gambar-soal-kiri">
                                        <img src="@Model.PathGambar@Model.PathSoal">
                                    </span>
                                    <span class="teks">
                                        @Html.Raw(Model.SoalDanJawaban.Pertanyaan)
                                    </span>
                                }
                                <div class="area-jawab-pilihan-ganda">
                                    @foreach (var item in Model.PilihanSoals)
                                    {
                                        var IsChecked = false;
                                        if (Model.SoalDanJawaban.BankSoalPilihanId.HasValue && Model.SoalDanJawaban.BankSoalPilihanId.Value == item.BankSoalPilihanId)
                                        {
                                            IsChecked = true;
                                        }
                                        var radioButton = $"<input type='radio' class='easyui-validatebox validatebox-text' id='BankSoalPilihanId-{@item.BankSoalPilihanId}' name='BankSoalPilihanId' value='{@item.BankSoalPilihanId}' {(IsChecked ? "checked" : "")} />";
                                        if (Model.TipeSoal == 1 || Model.TipeSoal == 5)
                                        {
                                            <label class="pilihan-ganda">
                                                @Html.Raw(radioButton)
                                                <span class="teks">@item.Jawaban</span>
                                            </label>
                                            <br />
                                        }
                                        else if (Model.TipeSoal == 42)
                                        {
                                            <label class="pilihan-ganda">
                                                @Html.Raw(radioButton)
                                                <span class="teks">@item.Jawaban</span>
                                            </label>
                                        }
                                        else if (Model.TipeSoal == 2)
                                        {
                                            <label class="gambar-kecil">
                                                @Html.Raw(radioButton)
                                                <span>
                                                    <img src="@item.PathGambar@item.PathJawaban" width="55" height="53">
                                                </span>
                                            </label>
                                        }
                                        else if (Model.TipeSoal == 9)
                                        {
                                            <label class="gambar-kecil">
                                                @Html.Raw(radioButton)
                                                <span>
                                                    @item.Jawaban
                                                </span>
                                            </label>
                                        }
                                        else if (Model.TipeSoal == 3)
                                        {
                                            <label class="gambar-kecil">
                                                @Html.Raw(radioButton)
                                                <span>
                                                    <img src="@item.PathGambar@item.PathJawaban" width="55" height="53">
                                                </span>
                                            </label>
                                        }
                                        else if (Model.TipeSoal == 7 || Model.TipeSoal == 17)
                                        {
                                            radioButton = $"<input style='float:left;' type='radio' class='easyui-validatebox validatebox-text' id='BankSoalPilihanId-{@item.BankSoalPilihanId}' name='BankSoalPilihanId' value='{@item.BankSoalPilihanId}' {(IsChecked ? "checked" : "")} />";
                                            <label class="pilihan-ganda" style="width: 100%;">
                                                @Html.Raw(radioButton)
                                                <span class="teks" style="width: 97%;float:left;margin: 4px 0 0;">@item.Jawaban</span>
                                            </label>
                                            <br />
                                        }
                                        else
                                        {
                                            <label class="gambar-kecil">
                                                @Html.Raw(radioButton)
                                                <span>
                                                    <img src="@item.PathGambar@item.PathJawaban" width="55" height="53">
                                                </span>
                                            </label>
                                        }
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 area-sudah-wrapper reqInfoIsi">
        <br />
        <div class="area-sudah">
            @foreach (var item in Model.Jawabans)
            {
                var aClass = "pilih";
                var iClass = "fa fa-circle";
                if (item.JumlahData == 1)
                {
                    aClass = "sudah pilih";
                    iClass = "fa fa-check-circle";
                }
                <div class="item">
                    <a class="@aClass" asp-route="Exam" asp-route-UjianTahapId="@item.UjianTahapId" asp-route-Nomer="@item.Nomer"><i class="@iClass"></i>  @item.Nomer</a>
                </div>
            }
        </div>
    </div>
    <div class="area-prev-next-ujian reqInfoIsi">
        @{
            var number = Model.Nomer;
            var lastNumber = Model.Jawabans.LastOrDefault().Nomer;
            if (number > 1)
            {
                var newNumber = number - 1;
                var ujianTahapId = Model.Jawabans.FirstOrDefault(m => m.Nomer == newNumber).UjianTahapId;
                <div class="prev-ujian" id="reqIdPrev"><a id="reqHrefIdPrev" asp-route="Exam" asp-route-UjianTahapId="@ujianTahapId" asp-route-Nomer="@newNumber"><i class="fa fa-chevron-left"></i>  Sebelumnya</a></div>
            }
            if (number < lastNumber)
            {
                var newNumber = number + 1;
                var ujianTahapId = Model.Jawabans.FirstOrDefault(m => m.Nomer == newNumber).UjianTahapId;
                <div class="next-ujian" id="reqIdNext"><a id="reqHrefIdNext" asp-route="Exam" asp-route-UjianTahapId="@ujianTahapId" asp-route-Nomer="@newNumber"> Selanjutnya <i class="fa fa-chevron-right"></i></a></div>
            }
        }
        @*@{
                var number = Model.ExamQuestions.FirstOrDefault(m => m.QuestionId == Model.QuestionId).Number;
                var lastNumber = Model.ExamQuestions.LastOrDefault().Number;
                if (number > 1)
                {
                    var newNumber = number - 1;
                    var QuestionId = Model.ExamQuestions.FirstOrDefault(m => m.Number == newNumber).QuestionId;
                    <div class="prev-ujian" id="reqIdPrev"><a id="reqHrefIdPrev" asp-route="Exam" asp-route-SectionId="@Model.SectionId" asp-route-QuestionId="@QuestionId"><i class="fa fa-chevron-left"></i>  Sebelumnya</a></div>
                }
                if (number < lastNumber)
                {
                    var newNumber = number + 1;
                    var QuestionId = Model.ExamQuestions.FirstOrDefault(m => m.Number == newNumber).QuestionId;
                    <div class="next-ujian" id="reqIdNext"><a id="reqHrefIdNext" asp-route="Exam" asp-route-SectionId="@Model.SectionId" asp-route-QuestionId="@QuestionId"> Selanjutnya <i class="fa fa-chevron-right"></i></a></div>
                }
            }*@
    </div>
</div>

@section Scripts {
    <script>
        //$('#reqHrefIdNext').click(function () {
        //    $('#IsNext').val(true);
        //    $('#Answer').submit();
        //});
        //$('#reqHrefIdPrev').click(function () {
        //    $('#IsNext').val(false);
        //    $('#Answer').submit();
        //});

        // STEP 1
        // cek apakah ada ExamEmployeeId & QuestionId di table answer?
        // jika ada maka set time menjadi 0
        // jika tidak ada maka step 2

        // STEP 2
        // ambil time di table ExamQuestion yang ExamSectionId & QuestionId

        // STEP 3
        // lakukan force submit

        const timeRemaining = 0;@*@Model.Duration.TotalMilliseconds;*@ // in milisecond
        //console.log(timeRemaining);
        //setTimeout(function () {
        //    formSubmit(true);
        //}, timeRemaining);

        var actionAnswer = $('input[id^="BankSoalPilihanId-"]');
        $(actionAnswer).click(function () {
            formSubmit();
        });

        var formSubmit = function (next) {
            /*
            if (typeof next != 'undefined') {
                $('#IsNext').val(null);
            }
            else if (next) {
                $('#IsNext').val(true);
            }
            else {
                $('#IsNext').val(false);
            }
            */
            $('#IsNext').val(true);
            $('#Answer').submit();
        }


        var timer2 = '00:10';
        var interval = setInterval(function () {
            var timer = timer2.split(':');
            //by parsing integer, I avoid all extra string processing
            var minutes = parseInt(timer[0], 10);
            var seconds = parseInt(timer[1], 10);
            --seconds;
            minutes = (seconds < 0) ? --minutes : minutes;
            if (minutes < 0) clearInterval(interval);
            seconds = (seconds < 0) ? 59 : seconds;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            //minutes = (minutes < 10) ?  minutes : minutes;
            $('.milisecond-interval').html(minutes + ':' + seconds);
            timer2 = minutes + ':' + seconds;
        }, 1000);
        //$('input[id^="QuestionDetailId-"]').click(function () {
          //  console.log($(this).val());
            //$('#IsNext').val(null);
            //$('#Answer').submit();
        //});
    </script>
}